.actionHeader {
  padding: 5px;
  background-color: map-get($colors, lightGray);
  width: 100%;

  display: flex;
  justify-content: space-between;

  &__title {
    font-family: "Syncopate";
    font-size: map-get($fontSize, headerLarge);
    display: flex;
    align-items: center;
  }
}

.toolbar {
  &__header {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    &__title {
      font-family: "Syncopate";
    }

    &__runner {
      margin-right: 10px;

      &__label {
        margin-right: 10px;
        line-height: 20px;
      }
    }
  }
}
